In [2]:
# Today, we will create a function that flattens a list
output = []
def flatten(liste):
    for i in liste:
        if type(i) == list:
            flatten(i)
        else:
            output.append(i)
    return output

In [3]:
# input sample
flatten([[1, 'a', ['cat'], 2], [[[3]], 'dog'], 4, 5])

[1, 'a', 'cat', 2, 3, 'dog', 4, 5]

In [4]:
# This function will reverse the list-typed elements of the list and also this reverses this list-typed elements 
def reverse_list(liste):
    liste.reverse()
    for i in range(len(liste)):
        (liste[i])=(liste[i])[::-1]
    return liste

In [5]:
liste = [[1, 2], [3, 4], [5, 6, 7]] 
reverse_list(liste)

[[7, 6, 5], [4, 3], [2, 1]]